
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TDTU-Center</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="css/animate.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>


<body>
	

	<div class="wrapper">
		
		
        <div>
            <a href="/logout" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </div>
        
		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									
									<div class="post-topbar">
										<div class="user-picy">
											
										</div>
										<div class="post-st">
											<ul>
												<li><a class="post-jb active" href="#" title="">Post something? 🤔</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
                                    <div class="post-area">
                                        <!-- Place to see your post -->
                                    <%if (locals.record.length >0){ %>
                                        <% record.forEach(function(row){ %>
                                            <div class="posts-section">
                                                
                                                <div class="posty">
                                                    <div class="post-bar no-margin">
                                                        <div class="post_topbar">
                                                            <div class="usy-dt">
                                                                <img src="http://via.placeholder.com/50x50" alt="">
                                                                <div class="usy-name">
                                                                    <h3>John Doe</h3>
                                                                    <span><img src="images/clock.png" alt="">3 min ago</span>
                                                                </div>
                                                            </div>
                                                            <div class="ed-opts">
                                                                <a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                                                                <ul class="ed-options">
                                                                    <li><a href="#" title="">Edit Post</a></li>
                                                                    <li><a href="#" title="">Unsaved</a></li>
                                                                    <li><a href="#" title="">Unbid</a></li>
                                                                    <li><a href="#" title="">Close</a></li>
                                                                    <li><a href="#" title="">Hide</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="job_descp">
                                                            <h3><%= row.title %></h3>
                                                            <p>
                                                                <%= row.description %>
                                                                <!-- This is for View more function -->
                                                                <!-- <a href="#" title="">view more</a> -->
                                                            </p>
                                                            <img src=<%= row.img %> alt="">
                                                        
                                                            <iframe width="500" height="300" src="https://www.youtube.com/embed/<%= row.url_video %>  " frameborder="0">
                                                            </iframe>
                                                            
                                                        </div>
                                                        <div class="job-status-bar">
                                                            <ul class="like-com"> 
                                                                <li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comment 15</a></li>
                                                            </ul>
                                                            
                                                        </div>
                                                    </div><!--post-bar end-->

                                                    <!-- Comment section -->
                                                    <div class="comment-section">
                                                        <div class="plus-ic">
                                                            <i class="la la-plus"></i>
                                                        </div>
                                                        <div class="comment-sec">
                                                            <ul>
                                                                <li>
                                                                    <div class="comment-list">
                                                                        <div class="bg-img">
                                                                            <img src="http://via.placeholder.com/40x40" alt="">
                                                                        </div>
                                                                        <div class="comment">
                                                                            <h3>John Doe</h3>
                                                                            <span><img src="images/clock.png" alt=""> 3 min ago</span>
                                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at.</p>
                                                                        </div>
                                                                    </div><!--comment-list end-->
                                                                    
                                                                </li>
                                                            </ul>
                                                        </div><!--comment-sec end-->
                                                        <div class="post-comment">
                                                            <div class="cm_img">
                                                                <img src="http://via.placeholder.com/40x40" alt="">
                                                            </div>
                                                            <div class="comment_box">
                                                                <form>
                                                                    <input type="text" placeholder="Post a comment">
                                                                    <button type="submit">Send</button>
                                                                </form>
                                                            </div>
                                                        </div><!--post-comment end-->
                                                    </div><!--comment-section end-->
                                                </div><!--posty end-->
                                                <div class="process-comm">
                                                    <div class="spinner">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div><!--process-comm end-->
                                            </div><!--posts-section end-->
                                        <% }) %>
                                    <% } %>
                                    </div>
                                    
								</div><!--main-ws-sec end-->
							</div>
							
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>

        <!-- Copy paste this in index -->
		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Write your post 😇</h3>
				<div class="post-project-fields">
					<form method="POST">
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>

                            <!-- For image upload -->
                            <div class="col-lg-12">
							    <input type="file" id="img" name="img"  accept="image/* placeholder="Select an image for your post here">
							</div>

                            <div class="col-lg-12">
                                <input type="url" name="url_video" id="url"
                                placeholder="https://www.youtube.com/"
                                pattern="https://www.youtube.com/.*" size="30">
                            </div>
                            
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

	</div><!--theme-layout end-->



<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scrollbar.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>