<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
    <h2>Simple CRUD thing</h2><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bootsnipp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7749520983305929"
     data-ad-slot="1217000491"
     data-ad-format="auto"></ins>
<script>
</script>
    <form action="/create" method="POST">
        <div style = "margin-top: 50px;" class="well text-center">
            <input type="submit" class="btn btn-hot text-uppercase btn-lg" value="Create">
        </div>
    </form>

    <form action="/read" method="POST">
        <div style = "margin-top: 10px;" class="well text-center">
            <input type="submit" class="btn btn-hot text-uppercase btn-lg" value="Read">
        </div>
    </form>

    <form action="/update" method="POST">
        <div style = "margin-top: 10px;" class="well text-center">
            <input type="submit" class="btn btn-hot text-uppercase btn-lg" value="Update">
        </div>
    </form>

    <form action="/delete" method="POST">
        <div style = "margin-top: 10px;" class="well text-center">
            <input type="submit" class="btn btn-hot text-uppercase btn-lg" value="Delete">
        </div>
    </form>
</div>